#loginButton{
    background-color:black;
    color: white;
    font-size: 17%;
}
#registrerUserButton{
    color:gray;
    background-color: #7af442;
    width: 50%;
    font-size: 17%;
    margin: 1%;
}