<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>46534656012-li0hqa2igii5jklkrhfm8l5iv6cbl5p3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.46534656012-li0hqa2igii5jklkrhfm8l5iv6cbl5p3</string>
	<key>API_KEY</key>
	<string>AIzaSyA4k9FyTbpeI8CSaviX2gAVVm7DNliYYws</string>
	<key>GCM_SENDER_ID</key>
	<string>46534656012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.nativescript.IDare</string>
	<key>PROJECT_ID</key>
	<string>idare-8f8b1</string>
	<key>STORAGE_BUCKET</key>
	<string>idare-8f8b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:46534656012:ios:45a1cdb2d48a5243</string>
	<key>DATABASE_URL</key>
	<string>https://idare-8f8b1.firebaseio.com</string>
</dict>
</plist>