.title {
    font-size: 100;
    horizontal-align: center;
    margin: 20;
    background-color: "green";
    color: "green";
}

button {
    font-size: 42;
    horizontal-align: center;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
    margin: 0 20;
    text-align: center;
}
.pageColor{
    color:#7af442;
    background-color:#7af442; 
}

